.container {
  position: relative;
  top: 20vh;
  display: grid;

  grid-template-areas:
    'header header'
    'main   aside';

  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 48px;

  max-width: 40vw;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 768px) {
    top: 10vh;
    grid-template-areas:
      'header'
      'main'
      'aside';
    grid-template-rows: auto auto auto;

    grid-template-columns: 1fr;
    max-width: 75vw;
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.aside {
  display: flex;
  flex-direction: column;
  grid-area: aside;
}
